{% extends 'base.html.twig' %}

{% block title %}Hello AdminUserController!{% endblock %}




{% block body %}
    <div class="body d-flex py-lg-3 py-md-2">
            <div class="container-xxl">
                <div class="row align-items-center">
                    <div class="border-0 mb-4">
                        <div class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
                            <h3 class="fw-bold mb-0">Utilisateurs</h3>
                            
                        </div>
                    </div>
                </div> <!-- Row end  -->
                <div class="row clearfix g-3">
                  <div class="col-sm-12">
                        <div class="card mb-3">
                            <div class="card-body">
                                <table id="myProjectTable" class="table table-hover align-middle mb-0" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>User Id</th>
                                            <th>User</th>
                                            <th>Email</th>
                                            <th>Groupe</th>

                                            <th>Role</th>  
                                            <th>Status</th>  
                                            <th>Actions</th>  
                                        </tr>
                                    </thead>
                                    <tbody>

                                    {% for user in users %}

                                

                                        <tr>
                                            <td>
                                                {{user.id}}
                                            </td>

                                            <td>
                                               <img class="avatar rounded-circle" src="/assets/images/xs/avatar1.jpg" alt="">
                                               <span class="fw-bold ms-1">  {{user.firstName}} {{user.LastName}}</span>
                                           </td>

                                           </td>
                                           
                                           <td>
                                               {{user.email}}
                                           </td>
                                            <td>
                                                {{user.groupe.title}}
                                            </td>
    
                                            <td>
                                                {% if 'ROLE_SUPER_ADMIN' in user.roles %}
                                                    <span class="badge bg-primary">Super Admin</span>
                                                {% elseif 'ROLE_ADMIN' in user.roles %}
                                                    <span class="badge bg-info">Admin</span>
                                                {% else %}
                                                     <span class="badge bg-warning">User</span>
                                                {% endif %}
                                

                                            </td>

                                             <td>
                                                {% if user.isVerified %}
                                                    <span class="badge bg-success">Compte Activé</span>
                                                {% else %}
                                                     <span class="badge bg-danger">Compte Inactif</span>
                                                {% endif %}
                                

                                            </td>
                                    
    
                                            <td>
                                                <div class="btn-group" role="group" aria-label="Basic outlined example">
                                                    <button type="button" class="btn btn-outline-secondary" onclick="location.href='/admin/users/edit/{{ user.id }}'"><i class="icofont-edit text-success"></i></button>
                                                    <button type="button" data-id="{{ user.id }}" class="confirmModalLink btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#deleteUser{{ user.id }}"><i class="icofont-ui-delete text-danger"></i></button>
                                                    
                                                </div>
                                                
                                            </td>
                                        </tr>    
                                        
                                        <div class="modal fade" id="deleteUser{{ user.id }}" aria-hidden="true" >
                                            <div class="modal-dialog modal-dialog-centered modal-md modal-dialog-scrollable">
                                                <div class="modal-content">
                                                   <div class="modal-header">
                                                            <h5 class="modal-title  fw-bold" id="deleteUserLabel"> Supprimer un utilisateur </h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                
                                                <div class="modal-body">
                                                    <p> Êtes-vous sûr de vouloir supprimer cet utilisateur ? </p>
                                                        
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
                                                    <button type="button" id="{{ user.id }}" class="btn btn-primary deleteUser" data-bs-dismiss="modal">Oui</button>
                                                </div>
                                            
                                                </div>
                                            </div>
                                            
                                        </div>
                                        {% endfor %}  
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                  </div>
                </div><!-- Row End -->
            </div>
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <script>

                        $('.deleteUser').click(function(){
                             let id = $(this).attr("id");
                             
                             $.ajax({
                                 url: "{{ path('admin.users.delete') }}",
                                 type: "POST",
                                 data: {
                                      id : id,
                                     },
                                     
                                     success: function refreshPage() { 
                                              location.reload();
                                              
                                 }
                                 })
                                 });
                                 
        </script>	
      
{% endblock %}
